sample/sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.topografix.com/GPX/1/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gpx">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="desc" type="xs:string" />
              <xs:element name="author" />
              <xs:element name="link">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="text" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="href" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="time" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="wpt">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="sym" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="lat" type="xs:decimal" use="required" />
            <xs:attribute name="lon" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="trk">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="trkseg">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="trkpt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ele" type="xs:decimal" />
                          <xs:element name="time" type="xs:dateTime" />
                        </xs:sequence>
                        <xs:attribute name="lat" type="xs:decimal" use="required" />
                        <xs:attribute name="lon" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
      <xs:attribute name="creator" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>